/software/content/local-media/YouTube Videos/*.mp4
/software/content/local-media/*
/software/dummyserver.*
/software/pythontrix.*
/software/path*.txt
/software/vlc.log
/software/*.pyc
/software/omxlog.txt
*.log
