<!doctype html>
<html>
	<head>
		<!--
		jquery
		twitter bootstrap?
		base css
		base js
		-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/kube.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
		
		{% block addToHead %}
		{% endblock %}
	</head>
	<body id="bgrd" class="width-100">
		<img class="logo" src="{{ url_for('static', filename='images/logo-hollow.png') }}" />
		{% block body %}
		{% endblock %}
		<div id="modalWindow" class="hidden">
		<!-- fetch modals with ajax -->
			<div id="loadingBox">
				Loading
			</div>
		</div>
		<div class="visBox">
			<div id="vis1">
			</div>
			<div id="vis2">
			</div>
		</div>
	</body>
	<footer>
		<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-color.min.js') }}"></script>
		{% block addToFooter %}
			<script>
				// bind the controller things to a key press and then execute it from the embedded browser
				//write path to a file and then read the file when serving content
				$(document).ready(function(){
					$(window).keydown(function(event){
					console.log(event.keyCode);
					switch(event.keyCode){
						case 89:			//y key for YouTube action
							$.ajax({
								url: "/YTDownload"
							}).done(function(data){
								//start the polling here
								console.log(data);
							});
							break;
						case 68:			//d for isDownloading
							$.ajax({
								url: "/isDownloading"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 76:			//l key for load media
							$.ajax({
								url: "/loadMedia"
							}).done(function(data){
								console.log(data);
								//if audio start visualizer
							});
							break;
						case 80:			//p for pause
							$.ajax({
								url: "/mediaPlayerAction/pause"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 219:			//[ for play
							$.ajax({
								url: "/mediaPlayerAction/play"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 37:			//left arrow, skip back
							$.ajax({
								url: "/skipPlaybackInterval/backward"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 39:			//right arrow, skip ahead
							$.ajax({
								url: "/skipPlaybackInterval/forward"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 77:			//m for mute
							$.ajax({
								url: "/mediaPlayerAction/mute"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 188:			//, for unmute
							$.ajax({
								url: "/mediaPlayerAction/unmute"
							}).done(function(data){
								console.log(data);
							});
							break;
						case 83:			//s for stop (closes window)
							$.ajax({
								url: "/mediaPlayerAction/stop"
							}).done(function(data){
								console.log(data);
							});
							break;
					};
					
				});
				});
			</script>
		{% endblock %}
		<!-- copyright info -->
		<!-- javascript color changing background gradient rgb(202,29,29) -> rgb(255,255,255) bring whit to red and then other red to white. repeat-->
		<script>
		$(document).ready(function(){
			//encapsulates the javascript background
			var background = (function(){
				cycleBackground = function() {
					window.setTimeout(function(){
						$('#bgrd').animate({backgroundColor: 'rgb(203,0,0)'}, 20000);
					}, 10000);
					//10sec pause, 20 sec transition
					window.setTimeout(function(){
						$('#bgrd').css('background', 'linear-gradient(135deg, rgba(0,0,0,0), rgba(203,0,0,1))');
					}, 40000);
					//10 sec pause
					window.setTimeout(function(){
						$('#bgrd').animate({backgroundColor: 'rgb(255,255,255)'}, 20000);
					}, 40000);
					//20sec transition, 60sec total
				}
				var backgroundInterval;
				return {
					'start': function(){
						cycleBackground();
						backgroundInterval = window.setInterval(function(){
							cycleBackground();
						}, 60000);
					},
					'stop': function(){
						if (backgroundInterval == undefined) return; //this will only clear the last interval set the others go into the aether
						clearInterval(backgroundInterval);
					}
				};
			})();
			
			
			var visualizer = (function(){
				cycleVis = function() {
					window.setTimeout(function(){
						$('#vis1').animate({backgroundColor: '#rgb(203,0,0)'}, 5000);
						$('#vis2').animate({backgroundColor: '#rgb(0,0,203)'}, 5000);
					}, 1000);
					//5sec pause, 10 sec transition
					window.setTimeout(function(){
						$('#vis1').css('background', 'linear-gradient(135deg, rgba(255,255,255,0), rgba(203,0,0,1))');
						$('#vis2').css('background', 'linear-gradient(225deg, rgba(0,0,0,0), rgba(0,0,203,1))');
					}, 7000);
					//5 sec pause
					window.setTimeout(function(){
						$('#vis1').animate({backgroundColor: '#rgb(255,255,255)'}, 5000);
						$('#vis2').animate({backgroundColor: '#rgb(0,0,0)'}, 5000);
					}, 7000);
					//10sec transition, 30sec total
				}
				var visInterval;
				return {
					'start': function(){
						cycleVis();
						visInterval = window.setInterval(function(){
							cycleVis();
						}, 12000);
						//unhide the window
					},
					'stop': function(){
						if (backgroundInterval == undefined) return; //this will only clear the last interval set the others go into the aether
						clearInterval(visInterval);
						//hide the window
					}
				};
			})();
		});
		</script>
	</footer>
</html>